<div class="container-fluid mt-3" dir="ltr" >
  <div class="ro ">
    <div class="col text-start">
      <h2>Quotations</h2>
      <div class="first">
        <button class="black-button" routerLink="/new">Create</button>
        <i class="bi bi-box-arrow-in-down"></i>
      </div>
    </div>
    <div class="col-md-8 text-end co">
      <div class="inputsearch mb-2">
        <input type="text" class="form-control search-input" placeholder="Search..." aria-label="Search">
      </div>
      <div class="r d-flex align-items-center">
        <p class="mb-0 me-2">
          <i class="bi bi-funnel-fill"></i> Filter Criteria
        </p>
        <p class="mb-0 me-2">
          <i class="bi bi-sort-down-alt"></i> Group By
        </p>
        <p class="mb-0 me-2">
          <i class="bi bi-star-fill"></i> Favorites
        </p>
        <mat-paginator style="width: auto; background: transparent; "></mat-paginator>
        <p class="mb-0 me-2">
          <i class="bi bi-list"></i>
        </p>
        <p class="mb-0 me-2">
          <i class="bi bi-calendar"></i>
        </p>
        <p class="mb-0 me-2">
          <i class="bi bi-graph-up"></i>
        </p>
        <p class="mb-0 me-2">
          <i class="bi bi-clock"></i>
        </p>
      </div>
    </div>
  </div>
</div>
