<div class="location">
  <div class="first">
    <img src="../../../assets/image 1.png" width="60%"
    height="30px">
  </div>
  <div class="second">
    <div class="second-div">
      <h2>Company Data</h2>
      <p> Set your company data for Documents header/ footer</p>
      <button routerLink="/new">Let's start!</button>
    </div>
    <div class="second-div">
      <h2>Company Data</h2>
      <p> Set your company data for Documents header/ footer</p>
      <button routerLink="/new">Let's start!</button>
    </div>
    <div class="second-div">
      <h2>Company Data</h2>
      <p> Set your company data for Documents header/ footer</p>
      <button routerLink="/new" >Let's start!</button>
    </div>
    <div class="second-div">
      <h2>Company Data</h2>
      <p> Set your company data for Documents header/ footer</p>
      <button routerLink="/new">Let's start!</button>
    </div>

  </div>

</div>
<app-data-table></app-data-table>
